Repository KevinSGarrett/07cares, changes with the owners that .github/CODEOWNERS names for each.
All owners: @agent-backend, @agent-qa, @agent-frontend, @agent-pm

build(api/dm): mark route as force-dynamic + early-return when Pusher env missing
  src/app/api/dm/send/route.ts
Owners: none

build(next): remove deprecated eslint option from next.config.mjs
  next.config.mjs
Owners: none

build(typesense): guard client + force-dynamic for /api/search/index-campaign
  src/app/api/search/index-campaign/route.ts
Owners: none

fix(typesense): correct import to '@/lib/typesense' and strip BOM
  src/app/api/search/index-campaign/route.ts
Owners: none

build(typesense/route): ensure named export getTypesense; strip BOM; use '@/lib/typesense'
  src/app/api/search/index-campaign/route.ts
  src/lib/typesense.ts
Owners: @agent-backend

ci(amplify): remove diagnostic head step
  amplify.yml
Owners: none

health: static-safe /api/health endpoint (force-dynamic, zero deps)
  src/app/api/health/route.ts
Owners: none

health: force node runtime for /api/health
  src/app/api/health/route.ts
Owners: none

health: clean Node-only /api/health (force-dynamic + runtime=nodejs)
  src/app/api/health/route.ts
Owners: none

health: minimal Node-only /api/health (force-dynamic + runtime=nodejs)
  src/app/api/health/route.ts
Owners: none

health: node runtime + force-dynamic /api/health
  src/app/api/health/route.ts
Owners: none

health: minimal Node-only /api/health (runtime=nodejs, force-dynamic, try/catch)
  src/app/api/health/route.ts
Owners: none

health: minimal Node-only /api/health (runtime=nodejs, force-dynamic, try/catch)
  src/app/api/health/route.ts
Owners: none

middleware: temp no-op to unblock /api/health
  src/middleware.ts
Owners: none

middleware: enable Clerk; bypass /api/health; safe matcher
  src/middleware.ts
Owners: none

test: vitest cjs config, jsdom, unit tests + coverage summary
  GPTLog/0001.txt
  amplify_build.log
  logs.json
  logs.txt
  package.json
  pnpm-lock.yaml
  postcss.config.js
  prisma/seed.mjs
  src/app/c/[slug]/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/lib/money.ts
  src/middleware.ts
  src/schemas/donate.ts
  src/server/db.ts
  tests/unit/donate-schema.test.ts
  tests/unit/money.test.ts
  vitest.config.cjs
  vitest.config.ts
Owners: @agent-backend, @agent-frontend, @agent-qa

ci: add .env for CI build to satisfy env validation
  .github/workflows/ci.yml
Owners: none

ci: rebuild + prisma generate before next build; keep minimal env
  .github/workflows/ci.yml
Owners: none

fix(portal): guard currentUser behind AUTH_BYPASS; stub view in local
  src/app/portal/page.tsx
Owners: none

ci(pr): add E2E and Danger checks for PRs
  .github/workflows/danger.yml
  .github/workflows/e2e.yml
Owners: none

ci(pr): fix Danger (run tests first) and E2E (full env + prisma rebuild)
  .github/workflows/danger.yml
  .github/workflows/e2e.yml
Owners: none

chore(api): add /api/db/ping to verify RDS connectivity from staging
  src/app/api/db/ping/route.ts
Owners: none

fix(api): use relative prisma import in /api/db/ping; add /api/env for staging sanity
  src/app/api/db/ping/route.ts
  src/app/api/env/route.ts
Owners: none

fix(api): use relative prisma import in /api/db/ping; add /api/env for staging sanity (#4)
  src/app/api/db/ping/route.ts
  src/app/api/env/route.ts
Owners: none

fix(runtime): force nodejs runtime for prisma/env routes and pages
  src/app/api/db/ping/route.ts
  src/app/api/env/route.ts
  src/app/portal/page.tsx
Owners: none

fix(runtime): force nodejs for prisma/env (#5)
  amplify-job-.json
  protection-backup.json
  protection-ci-only.json
  protection-full.json
  protection-open.json
  protection-temp.json
  protection.json
  src/app/api/db/ping/route.ts
  src/app/api/env/route.ts
  src/app/portal/page.tsx
Owners: none

fix(prisma): set DATABASE_URL before Prisma client load; secrets fallback; node runtime everywhere
  src/app/api/db/ping/route.ts
  src/app/api/env/route.ts
  src/app/portal/page.tsx
Owners: none

fix(prisma): hot-load DATABASE_URL + secrets fallback (#6)
  src/app/api/db/ping/route.ts
  src/app/api/env/route.ts
  src/app/portal/page.tsx
  src/lib/getDbUrl.ts
  src/server/db.ts
Owners: @agent-backend, @agent-qa

chore: add @aws-sdk/client-secrets-manager for runtime secrets fallback
  package.json
  pnpm-lock.yaml
Owners: none

chore: add @aws-sdk/client-secrets-manager (#7)
  package.json
  pnpm-lock.yaml
Owners: none

feat(staging): last-resort DB URL fallback when SSR lacks IAM creds
  src/lib/getDbUrl.ts
Owners: @agent-backend

feat(staging): last-resort DB URL fallback when SSR lacks IAM creds (#8)
  src/lib/getDbUrl.ts
Owners: @agent-backend

chore(debug): add /api/campaign/[slug]/debug to inspect runtime errors
  --query
  protection-full.json
  src/app/api/campaign/[slug]/debug/route.ts
Owners: none

chore(debug): add /api/campaign/[slug]/debug to inspect runtime errors (#9)
  --query
  protection-full.json
  src/app/api/campaign/[slug]/debug/route.ts
Owners: none

fix(pages): force node runtime + safe guards (portal & campaign)
  src/app/c/[slug]/page.tsx
  src/app/portal/page.tsx
Owners: none

fix(pages): force node runtime + safe guards (portal & campaign) (#10)
  src/app/c/[slug]/page.tsx
  src/app/portal/page.tsx
Owners: none

fix(middleware): default bypass unless AUTH_BYPASS==='false' + static matcher
  src/middleware.ts
Owners: none

fix(middleware): default bypass unless AUTH_BYPASS==='false' + static matcher (#11)
  src/middleware.ts
Owners: none

fix(layout): conditional Clerk + default bypass; prevent 500s
  src/app/layout.tsx
Owners: @agent-frontend, @agent-qa

fix(layout): conditional Clerk + default bypass; prevent 500s (#12)
  src/app/layout.tsx
Owners: @agent-frontend, @agent-qa

.github/CODEOWNERS:

# CODEOWNERS
# Update GitHub handles or teams to match your org
/src/app/api/* @agent-backend @agent-qa
/src/server/*   @agent-backend @agent-qa
/src/lib/*      @agent-backend
/src/app/*      @agent-frontend @agent-qa
/prisma/*       @agent-backend
/.github/*      @agent-pm
/docs/*         @agent-qa @agent-pm
